@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Qualia Contact Manager</h1>
    <p></p>
    <a class="btn btn-primary btn-lg" href="/Contacts/SignInPage">Sign In</a>
    <p></p>
    <a class="btn btn-outline-dark btn-lg" href="/Contacts/SignUpPage">Sign Up</a>
</div>
