@page
@model ContactManagerWithUsers.Pages.Contacts.SignInPageModel
@{
    ViewData["Title"] = "Signing in user";
}

<h2>Enter your data</h2>
@if (Model.errorMessage.Length > 0)
{
    <div class="alert alert-danger" role="alert">
        @Model.errorMessage
    </div>
}
<form method="post">
    <div class="row">
        <label for="inputUsername">Username</label>
        <div class="col">
            <input type="text" class="form-control" placeholder="Username" name="username" required></input>
        </div>
        <div class="col">
            <input type="password" class="form-control" name="password" placeholder="Password" required> </input>
        </div>
    </div>

    @if (Model.successMessage.Length > 0)
    {
        <div class="alert alert-success" role="alert">
            @Model.successMessage
        </div>
    }
    <p></p>
    <button type="submit" class="btn btn-outline-primary">Submit</button>
</form>
